<section>
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <h2>Hasta Luego</h2>
                <h2><%= nombre %></h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
            </div>
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
</section>
<br>