<div class="container contact">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/noodles-shop-food-store-street-512.png" alt="image" width="50" height="50"/>
                <h2>Registre su ContenedorFileSystemProducto</h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <form action="/productos" method="POST" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" >Nombre:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" placeholder="Ingrese Nombre del ContenedorFileSystemProducto" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Precio:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="price" placeholder="Ingrese el Precio" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">URL Foto:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="thumbnail" placeholder="Ingrese URL de la imagen del producto" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="container contact">
    <% if (prodExists) { %>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light" id="navbarr">
        <tr>
            <th class="left-navbar">Imagen</th>
            <th>Nombre</th>
            <th class="right-navbar">Precio</th>
        </tr>
        </thead>
        <tbody>
        <% productos.forEach((order) => { %>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img
                        src="<%= order.thumbnail %>"
                        alt="image"
                        style="width: 45px; height: 45px"
                    />
                </div>
            </td>
            <td>
                <p class=" mb-1 control-label"><%= order.title %></p>
            </td>
            <td><%= order.price %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
        <% } else { %>>
    <div class="align-middle mb-0 bg-warning h1-style">
        <h1 class="text-center">
            No se encontraron productos
        </h1>
    </div>
        <% } %>>
    <div class="col-sm-offset-2 col-sm-12 container-button">
        <form action="/">
            <button type="submit" class="btn btn-default volver">Volver</button>
        </form>
    </div>
</section>