<section>
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <h1 style="text-align: center;">USER ERROR SIGNUP</h1>
            </div>
        </div>
        <div class="col-md-9" style="text-align:end;">           
            <img src="https://cdn1.iconfinder.com/data/icons/webina-seo-development-and-marketing/128/seo_web_2-11-256.png" alt="image" width="60" height="60"/>         
        </div>
        <br>
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Volver</button>
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 4000)
    </script>
</section>
<br>