<section>
    <div class="row" style="height: 240%;">
        <div class="col-md-3">
            <div class="contact-info">
                <h2>Bienvenido</h2>
                <h2><%= email %></h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <div style="display:flex; align-items:right ; justify-content: end;">
                    <button class="btn btn-default" onclick="location.href='/logout'">Desloguear</button>
                </div>
            </div>
        </div>
    </div>
</section>
<br>