<section>
  <table class="table align-middle mb-0 bg-white mt-5">
    <thead class="bg-light" id="navbarr">
      <tr>
        <th class="left-navbar">Imagen</th>
        <th>Nombre</th>
        <th class="right-navbar">Precio</th>
      </tr>
    </thead>
    <tbody id="products">

    </tbody>
  </table>
</section>
