<section>
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <h2 style="text-align: center;">Hasta Luego</h2>
                <h2 style="text-align: center;"><%= email %></h2>
            </div>
        </div>
        <div class="col-md-9" style="text-align:end;">           
            <img src="https://cdn1.iconfinder.com/data/icons/media-icons-23/100/icon24pt_logout-256.png" alt="image" width="60" height="60"/>         
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 4000)
    </script>
</section>
<br>