<div >
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-avatar-business-profile/100/18A-1User-256.png" alt="image" width="60" height="60"/>
                <h2>REGISTER</h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" >Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese su Email" >
                        </div>
                        <br>
                        <label class="control-label col-sm-2" >Contraseña:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese su Contraseña" >
                        </div>
                        <br>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Registrarse</button>
                        </div>
                    </div>
                </form>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default"  onclick="location.href='/login'">Ir a Login</button>
                </div>
            </div>
        </div>
    </div>
</div>