<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head') -%>
</head>
<body>
    <main>
        <%- include('./productsContainer') -%>
        <% if (admin) { %>
            <%- include('./productForm') -%>
        <% } %>
    </main>
    <script>
        const deleteProduct = async (id) => {
            fetch(`/api/productos/${id}`, {
                method: 'DELETE',
            }).then(() => {
               location.reload(true)
            })
        }

    </script>
</body>
</html>