<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <%- include('./head') -%>
<body>
    <main>
        <%- include('./productsContainerById') -%>
        <% if (admin) { %>
            <%- include('./productFormUpdate') -%>
        <% } %>
    </main>
    <script>

        const agregarProdAlCarrito = async (prod) =>{
            console.log(prod)
            const idCart = await fetch(`/api/carrito/`, {
                method: 'POST',
            })
            const idC = await idCart.json()
            console.log(idC)
            const prodAct = {
                productId: prod.id,
                timestamp: Date.now(),
                name: prod.name,
                description: prod.description,
                code: prod.code,
                stock: prod.stock,
                price: prod.price,
                thumbnail: prod.thumbnail
            }
            console.log(JSON.stringify(prodAct))
            const options = {
                method: 'POST',
                body: JSON.stringify(prodAct)
            }
            fetch(`/${idC}/productos`, options)
                .then(response => response.json())
                .then(response => console.log(response))
                .catch(err => console.error(err));
        }


        const editProduct = async (id) => {
            const name = document.getElementById('name').value
            const description = document.getElementById('description').value
            const code = document.getElementById('code').value
            const stock = document.getElementById('stock').value
            const price = document.getElementById('price').value
            const thumbnail = document.getElementById('thumbnail').value

            const prodAct = {
                name,
                description,
                code,
                stock,
                price,
                thumbnail
            }
            const options = {
                method: 'PUT',
                body: JSON.stringify(prodAct)
            }
            fetch('/prueba', options)
                .then(response => response.json())
                .then(response => console.log(response))
                .catch(err => console.error(err));
        }
    </script>
</body>
</html>