<section>
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <h1 style="text-align: center;">PRODUCTO AGREGADO DE MANERA CORRECTA</h1>
            </div>
        </div>
        <div class="col-md-9" style="text-align:end;">           
            <img src="https://cdn2.iconfinder.com/data/icons/basic-flat-icon-set/128/tick-256.png" alt="image" width="60" height="60"/>         
        </div>
        <br>
    </div>
    <script>
        setTimeout(() => {
            location.href = `/api/carrito/${id}/productos`
        }, 2000)
    </script>
</section>
<br>