<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head') -%>
</head>
    <body>
        <main class="container contact">
            <%- include('./productTableTest') -%>
        </main>
    </body>
<script>
    const deleteProductInCart = async (idC, idP) => {
        fetch(`/api/carrito/${idC}/productos/${idP}`, {
            method: 'DELETE',
        }).then(() => {
            location.reload(true)
        })
    }
</script>
</html>